{% extends "settings/settings.html" %}
{% block settings %}
    <div id="permission-view">
        <div class="mb-4">
            <div class="flex flex-col mb-2">
                <h3 class="text-md font-semibold">
                    {% trans "Roles and Permissions" %}
                </h3>
                <p class="text-xs text-gray-500">
                    {% trans 'Control what each role can view, create, edit, or delete.' %}
                </p>
            </div>
        </div>
        <div
            hx-push-url="false"
            hx-get="{% url 'core:role_permission_tab' %}?{{request.GET.urlencode}}"
            hx-trigger="load"
        >
        </div>
    </div>
{% endblock %}
