<script>
    function initSummernote_{{ id_safe }}() {
        {{ config.jquery }}(document).ready(function($) {
    {% if iframe %}
            var frameId = window.frameElement.id;
            var id = frameId.substring(0, frameId.length - 7);  // without `_frame`
            var iframe = window.parent.document.getElementById(frameId);
            var origin = window.parent.document.getElementById(id);
            var csrftoken = '{{ csrf_token }}';
            var settings = window.parent.settings_{{ id_safe }};
            var $sn = $('#summernote');
            $(iframe).height(settings.height);
    {% else %}
            var origin = window.document.getElementById('{{ id }}');
            var csrftoken = getCookie('{{ CSRF_COOKIE_NAME }}');
            var settings = {{ settings|safe }};
            var $sn = $(origin);
    {% endif %}
            $sn.html(origin.value);
            var $nEditor, $nCodable;

            function recalcHeight(e) {
                var nEditable = e.find('.note-editable');
                var nEditor = $('.note-editor');
                var height = parseInt(
                    parseInt(settings.height)  // default
                    - e.find('.note-toolbar').outerHeight()
                    - e.find('.note-status-output').outerHeight()
                    - e.find('.note-statusbar').outerHeight()
                    - (nEditor.outerHeight() - nEditor.innerHeight())  // editor's border
                );
                nEditable.outerHeight(height);
            }

            var initEditor = function() {
                $sn.summernote($.extend(settings, {
    {% if iframe %}
                    disableResizeEditor: true,
    {% endif %}
                    callbacks: {
                        onInit: function() {
                            $nEditor = $sn.next();
                            $nCodable = $nEditor.find('.note-codable');
                            recalcHeight($nEditor);

    {% if iframe %}
                            // Resize again when the height of note-toolbar changed
                            // This enhances calculation behaviors on Safari
                            new ResizeSensor($nEditor.find('.note-toolbar'), function() {
                                recalcHeight($nEditor);
                            });
                            // Add an event handler for fullscreen
                            $nEditor.find('.btn-fullscreen').on('click', {editor: $nEditor}, function (e) {
                                var $nEditor = e.data.editor;
                                if ($nEditor.hasClass('fullscreen')) {
                                    $(iframe).addClass('note-fullscreen');
                                } else {
                                    $(iframe).removeClass('note-fullscreen');
                                }
                            });
    {% else %}
                            // Apply attributes with wrapper div
                            var $wrap = $($nEditor).wrap(
                                '<div class="summernote-div"></div>'
                            ).parent();
                            {% for k, v in attrs.items %}
                            $wrap.attr('{{ k }}', '{{ v }}');
                            {% endfor %}
    {% endif %}

                            // Move dropdown dialog when it exceeds the bound of the editor.
                            // Summernote shows/hides these by toggling an "open" class on
                            // .note-btn-group directly (no shown.bs.dropdown event is fired),
                            // so watch for that instead of listening for a Bootstrap event.
                            var margin = 15;
                            function repositionDropdown(nBtnGroup) {
                                var nDropdown = nBtnGroup.find(".note-dropdown-menu");
                                if( !nDropdown.length ) {
                                    return;
                                }
                                nDropdown.css({ top: "", bottom: "", left: "", "max-height": "" });

                                var offset = nDropdown.offset();
                                var width = nDropdown.width();
                                var height = nDropdown.outerHeight();

                                var windowWidth = $(window).width();
                                var windowHeight = $(window).height();

                                if( offset.left + width + margin > windowWidth ) {
                                    var left = windowWidth - width - offset.left - margin;
                                    nDropdown.css("left", left + "px");
                                }

                                if( offset.top + height + margin > windowHeight ) {
                                    // Not enough room below: open the dropdown upward instead
                                    // of letting it run past the bottom of the viewport.
                                    nDropdown.css({ top: "auto", bottom: "100%" });
                                    var spaceAbove = nBtnGroup.offset().top - margin;
                                    if( height > spaceAbove ) {
                                        nDropdown.css({
                                            "max-height": spaceAbove + "px",
                                            "overflow-y": "auto"
                                        });
                                    }
                                }
                            }
                            $nEditor.find('.note-btn-group').each(function () {
                                var nBtnGroup = $(this);
                                new MutationObserver(function () {
                                    if( nBtnGroup.hasClass('open') ) {
                                        repositionDropdown(nBtnGroup);
                                    }
                                }).observe(this, { attributes: true, attributeFilter: ['class'] });
                            });
                        },
                        onBlur: function() {
                            origin.value = $sn.summernote('code');
                        },
                        onBlurCodeview: function() {
                            origin.value = $sn.summernote('code');
                        },
                        {% if not config.disable_attachment %}
                        onImageUpload: function(files) {
                            var formData = new FormData();
                            formData.append('csrfmiddlewaretoken', csrftoken);
                            $.each(files, function(i, file) {
                                formData.append('files', file);
                            });
                            $.ajax({
                                url: settings.url.upload_attachment,
                                type: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function(data) {
                                    if (data.files && data.files.length) {
                                        $.each(data.files, function(i, file) {
                                            $sn.summernote('insertImage', file.url);
                                        });
                                    }
                                },
                                error: function() {
                                    alert('Got an error while uploading images.');
                                }
                            });
                        }
                        {% endif %}
                    }
                }));
            };

            // include summernote language pack, synchronously
            $.ajax({url: settings.url.language, dataType: "script", complete: initEditor})

            // For CodeMirror
            $sn.on('summernote.codeview.toggled', function() {
                var cmEditor = $nCodable.data('cmEditor');
                if( cmEditor ) {
                    cmEditor.on('blur', function() {
                        origin.value = cmEditor.getValue();
                    });
                }
            });

    {% if not iframe %}
            // See https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
    {% endif %}
        });
    }
</script>
